<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHmEeVugL0WAEDzk7Ktl1WJvMl7iQqm7A</string>
	<key>GCM_SENDER_ID</key>
	<string>177310005845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.univ-lorraine.recapeps</string>
	<key>PROJECT_ID</key>
	<string>recapeps</string>
	<key>STORAGE_BUCKET</key>
	<string>recapeps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177310005845:ios:e90b592cf0a0f3bdfc32dc</string>
</dict>
</plist>